@import '../index.css';

.fraseContainer {
    background-color: var(--gray-color);
    border: solid 1px var(--black-color);
    border-radius: 20px;
    padding: 1rem;
}

#frase {
    font-size: var(--font);
    font-weight: bold;
}